main{
    .jumbotron{
        background-color: #F9EDEB;
        padding: 50px 0;
    }

    .btn{
        margin-top: 20px;
    }

    img{
        height: 200px;
    }

    @media screen and (max-width:1000px) {
        img{
            height: 130px;
        }
    }

    @media screen and (max-width:650px) {
        img{
            display: none;
        }

        .jumbotron{
            text-align: center;
        }

        .container{
            padding-left: 10px;
            padding-right: 10px;
        }
        
    }    
}