@use "constant" as *;

* {
    box-sizing: border-box;
}

html, body{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 18px;

    @media screen and (max-width: $tablet-width) {
        font-size: 16px;
    }

    scroll-behavior: smooth;
}