.pertanyaan{
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 2px solid #CDCDCD;
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;
}

.pertanyaan::after{
    content: "";
    background: url("../img/chevron-down.svg");
    background-size: cover;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    right: 0;
    top: 10px;
    transition: 500ms;
}

.jawaban{
    line-height: 1.5;
    max-height: 0;
    overflow: hidden;
    transition: 500ms;
}

.show .pertanyaan::after{
    transform: rotate(180deg);
}

.set-pertanyaan{
    margin-bottom: 10px;
}